body {  
  background-color:rgb(248, 226, 237); /* Hiermee bepaal ik de achtergrond kleur van mijn pagina's.*/
}

.navbar {
  overflow: hidden;
  background-color: #343434;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif /*dit is het lettertype*/
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(255, 255, 255); /*Dit is de kleur van mijn tekst van het menu*/
  text-align: center; /* Dit zorgt ervoor dat de tekst in het midden komt te staan*/
  padding: 14px 16px;
  text-decoration: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif /*dit is het lettertype*/
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  background-color: inherit;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(0, 0, 0);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4d4d4d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #000000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
  color:#111111; /*Dit bepaalt de kleur van mijn tekst*/
  text-align:center; /*Dit laat mijn tekst in het midden (center) staan*/
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*Hiermee bepaal je het lettertype*/
}


h2 {
  color:#111111; /*Dit bepaalt de kleur van mijn tekst*/
  text-align:center; /*Dit zorgt ervoor dat mijn tekst in het midden (center) gaat staan.*/
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*Hiermee bepaal je het lettertype*/
}

p {
  margin-top: 0px; /*Dit zorgt voor geen extra ruimte boven de tekst*/
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif /*Hiermee bepaal je het lettertype*/
}

h3 {
  margin-bottom: 0px; /*Dit zorgt voor geen ruimte onder de koptekst*/
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif /*Hiermee bepaal je het lettertype*/
}

h4 {
  margin-bottom: 0px;  /*Dit zorgt voor geen ruimte onder de koptekst*/
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif /*Hiermee bepaal je het lettertype*/
}


.container{
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 40px;
}

.plaatje img{
  width: 600px; /*Dit past de breedte, ofterwel width van mijn plaatje aan.*/
  max-width: 100%;
  height: 400px; /*Dit past de hoogte, ofterwel height van mijn plaatje aan.*/
}

.turquoise img{
  float: right;
  margin-left: 15px;
  width: 400px;
  height: 50px;
}

.tekst {
  flex: 2;
}

.tekstinmidden {
  text-align: center; /*Dit zorgt ervoor dat mijn text en linkje in het midden, ofterwel center staan.*/
  margin:auto;
  width:fit-content;
}

.mijnfooter {
  background-color: #343434;
  padding: 13px; /*Dit zorgt voor ruimte tussen de tekst en de rand.*/
  text-align: center; /*Dit zorgt ervoor dat de tekst in het midden (center) staat*/
  color:white; /*Dit is de kleur van de tekst*/
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*Dit is het lettertype (font) van de tekst*/
}

.RGB-pagina {
  background-image: url("RGB.webp"); /*Dit is de afbeelding die op de achtergrond van mijn pagina komt.*/
  color:white; /*Dit is de kleur die alle tekst krijgt op de pagina.*/
}

.binairstelsel-pagina {
  background-image: url(Binair\ achtergrond.webp);
  color:white; /*Dit is de kleur die alle tekst krijgt op de pagina*/
}

.binairstelsel-pagina h1 {
  color: white; /*Dit is de kleur die de koptekst krijgt.*/
}

.RGB-pagina h1 {
  color: white; /*Dit is de kleur die de koptekst krijgt*/
}

.computerlink:link, .computerlink:visited { 
  background-color: #ffffff; /*Dit is de kleur van mijn knopje die je ziet zonder dat je muis erop staat*/
  color: rgb(0, 0, 0); /*Dit is de kleur van de tekst op mijn knopje die je ziet zonder dat je muis erop staat*/
  border: 2px rgb(255, 240, 254); /*Dit is de rand om mijn knopje*/
  padding: 10px 20px;
  text-align: center; /*Dit zorgt ervoor dat de tekst in het midden komt te staan*/
  text-decoration: none;
  display: inline-block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.computerlink:hover, .computerlink:active {
  background-color: rgba(180, 17, 147, 0.438); /*Dit is de kleur van mijn knopje wanneer je er met je muis overheen gaat.*/
  color:white; /* Dit is de kleur van de tekst op mijn knopje die je ziet als je met je muis op het knopje gaat*/
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.verschil-compressie img{
  float: right;
  margin-left: 15px;
  width: 350px;
  height: 260px;
}

.compressie-vs img{
  float: right;
  margin-left: 15px;
  height: 260px;
  width: 250px;
}

.bitmap-vector img{
  float: right;
  margin-left: 15px;
  height: 100px;
  width: 280px;
}