body {  
  background-color:rgb(255, 238, 251); /* Hiermee bepaal ik de achtergrond kleur van mijn pagina's.*/
}

.navbar {
  display: flex;
  border-radius: 10px; /*Dit maakt de randen van mijn menu rond.*/
  background-color: rgba(251, 255, 182, 0.791); /*Dit is de kleur van mijn menu - niet het dropdown gedeelte*/
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*dit is het lettertype*/
}

.navbar a, .dropbtn {
  flex: 1; /*Verdeelt de menu items gelijkmatig over de totale breedte van het menu*/
  font-size: 18px; /* De grootte van mijn text*/
  color: rgb(255, 178, 236); /*Dit is de kleur van mijn tekst van het menu*/
  text-align: center; /* Dit zorgt ervoor dat de tekst in het midden komt te staan*/
  padding: 14px 16px;
  text-decoration: none; /*Zorgt ervoor dat de tekst niet onderstreept wordt*/
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*Dit is het lettertype*/
  display: block;
  font-weight: bold; /*Dit maakt mijn text dikgedrukt.*/
  border-radius: 8px; /*Dit maakt de randen van mijn menu rond.*/
}

.dropdown {
  flex: 1;
  position: relative;
}

.dropdown .dropbtn {
  width: 100%;
  font-size: 18px;  /*De grootte van mijn tekst*/
  border: none;
  outline: none;
  color: rgb(255, 178, 236); /*De kleur van mijn tekst*/
  padding: 14px 16px;
  background-color: inherit;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*Ditis het lettertype*/
  margin: 0;
  font-weight: bold;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(225, 227, 177, 0.713);
}

.dropdown-content {
  display: none;
  position: absolute; /*Zorgt voor geen extra ruimte*/
  background-color: rgba(251, 255, 182, 0.791);
  width: 100%;
  z-index: 1;
  flex-direction: column;
  top: 100%;
  left: 0;
}

.dropdown-content a {
  color: rgb(255, 178, 236); /*De kleur van mijn tekst*/
  padding: 14px 16px;
  text-decoration: none; /*Dit zorgt ervoor dat de tekst/linkje naar de pagina niet onderstreept wordt*/
  display: block;
  text-align: center; /*Dit laat de tekst in het midden staan*/
  font-size: 18px; /*De grootte van mijn tekst*/
  border-radius: 8px; /*Dit maakt de randen van mijn menu rond.*/
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown-content a:hover {
  background-color: rgba(225, 227, 177, 0.713);
}

.dropdown:hover .dropdown-content {
  display: flex;
}

h1 {
  color:rgb(255, 178, 236); /*Dit bepaalt de kleur van mijn tekst*/
  text-align:center; /*Dit laat mijn tekst in het midden (center) staan*/
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*Hiermee bepaal je het lettertype*/
}


h2 {
  color:#111111; /*Dit bepaalt de kleur van mijn tekst*/
  text-align:center; /*Dit zorgt ervoor dat mijn tekst in het midden (center) gaat staan.*/
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*Hiermee bepaal je het lettertype*/
}

p {
  margin-top: 0px; /*Dit zorgt voor geen extra ruimte boven de tekst*/
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*Hiermee bepaal je het lettertype*/
}

h3 {
  margin-bottom: 5px; /*Dit zorgt voor wat ruimte onder de koptekst*/
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif /*Hiermee bepaal je het lettertype*/
}

h4 {
  margin-bottom: 0px;  /*Dit zorgt voor geen ruimte onder de koptekst*/
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif /*Hiermee bepaal je het lettertype*/
}

.content{
  padding-left: 20px; /*Dit zorgt voor 20px ruimte links tussen de rand van het scherm en de tekst/alle inhoud in deze class*/
  padding-right: 20px; /*Dit zorgt voor 20px ruimte rechts tussen de rand van het scherm en de tekst/inhoud*/
}

img {
  border-radius: 8px;/*Zorgt ervoor dat de hoeken van mijn afbeeldingen rond zijn*/
}

.binair-spel{
  width:700px; /*Dit is de breedte van het spel*/
  height:500px; /*Dit is de hoogte van het spel*/
  display:block; /*Dit zorgt ervoor dat margin auto werkt*/
  margin-left: auto; /*Dit zorgt ervoor dat het in het midden staat*/
  margin-right: auto; /*Dit zorgt ervoor dat het in het midden staat*/
}

.plaatje-invoeruitvoer img{
  float: right; /*Dit zorgt ervoor dat het plaatje rechts naast de tekst staat*/
  margin-left: 15px; /*Dit zorgt voor 15pixels ruimte aan de linkerkant*/
  width: 300px; /*Dit past de breedte, ofterwel width van mijn plaatje aan.*/
  height: 300px; /*Dit past de hoogte, ofterwel height van mijn plaatje aan.*/
}

.RGB-afbeeldingen img{
  float: right; /*Dit zorgt ervoor dat het plaatje rechts naast de tekst staat*/
  margin-left: 15px; /*Dit zorgt voor 15pixels ruimte aan de linkerkant*/
  width: 300px; /*Dit past de breedte, ofterwel width van mijn plaatje aan.*/
  height: 200px; /*Dit past de hoogte, ofterwel height van mijn plaatje aan.*/
}

.CMYK-plaatje img{
  float:right; /*Dit zorgt ervoor dat het plaatje rechts naast de tekst staat*/
  margin-left: 15px; /*Dit zorgt voor 15 pixels ruimte aan de linkerkant*/
  width: 300px; /*Dit past de breedte, ofterwel width van mijn plaatje aan.*/
  height: 270px; /*Dit past de hoogte, ofterwel height van mijn plaatje aan.*/
}

.RGB-model img{
  float:right; /*Dit zorgt ervoor dat het plaatje rechts naast de tekst staat*/
  margin-left: 15px; /*Dit zorgt voor 15pixels ruimte aan de linkerkant*/
  width: 300px; /*Dit past de breedte, ofterwel width van mijn plaatje aan.*/
  height: 200px; /*Dit past de hoogte, ofterwel height van mijn plaatje aan.*/
}

.tekstinmidden {
  text-align: center; /*Dit zorgt ervoor dat mijn text en linkje in het midden, ofterwel center staan.*/
  margin:auto;
  width:fit-content;
}

.mijnfooter {
  background-color: rgba(251, 255, 182, 0.791); /* Dit is de achtergrond kleur van mijn footer*/
  padding: 13px; /*Dit zorgt voor ruimte tussen de tekst en de rand.*/
  text-align: center; /*Dit zorgt ervoor dat de tekst in het midden (center) staat*/
  color:rgb(255, 178, 236); /*Dit is de kleur van de tekst*/
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*Dit is het lettertype (font) van de tekst*/
  border-radius: 10px; /*Dit maakt de rand van mijn footer rond.*/
  font-weight: bold; /*Dit maakt mijn text dikgedrukt.*/
}

.RGB-pagina {
  background-image: url("RGB.webp"); /*Dit is de afbeelding die op de achtergrond van mijn pagina komt.*/
  color:white; /*Dit is de kleur die alle tekst krijgt op de pagina.*/
}

.binairstelsel-pagina {
  background-image: url(Binair-achtergrond.webp); /*Dit is de achtergrond afbeelding van de pagina*/
}


.RGB-pagina h1 {
  color: white; /*Dit is de kleur die de koptekst krijgt*/
}

.computerlink:link, .computerlink:visited { 
  background-color: rgba(180, 17, 147, 0.438); /*Dit is de kleur van mijn knopje die je ziet zonder dat je muis erop staat*/
  color: rgb(255, 199, 248); /*Dit is de kleur van de tekst op mijn knopje die je ziet zonder dat je muis erop staat*/
  border: 2px rgb(255, 240, 254); /*Dit is de rand om mijn knopje*/
  padding: 10px 20px;
  text-align: center; /*Dit zorgt ervoor dat de tekst in het midden komt te staan*/
  text-decoration: none; /*Dit zorgt ervoor dat de het linkje niet onderstreept wordt*/
  display: inline-block; /* Staat naast andere elementen, als een blok*/
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*Dit is het lettertype (font)*/
  border-radius: 10px; /*Dit maakt de rand van mijn linkje rond*/
  font-weight: bold; /*Dit maakt mijn text dikgedrukt.*/
}

.computerlink:hover, .computerlink:active {
  background-color: rgba(255, 255, 255, 0.438); /*Dit is de kleur van mijn knopje wanneer je er met je muis overheen gaat.*/
  color:rgb(255, 199, 248); /* Dit is de kleur van de tekst op mijn knopje die je ziet als je met je muis op het knopje gaat*/
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*Dit is het lettertype (font)*/
  border-radius: 10px; /*Dit maakt de rand van mijn linkje rond*/
  font-weight: bold; /*Dit maakt mijn text dikgedrukt*/
}

.verschil-compressie img{
  float: right; /*Dit zorgt ervoor dat mijn plaatje rechts naast mijn tekst staat*/
  margin-left: 15px; /*Dit zorgt voor 15pixels ruimte aan de linkerkant*/
  width: 350px; /*Dit is de breedte van mijn plaatje*/
  height: 260px; /*Dit is de hoogte van mijn plaatje*/
}

.compressie-vs img{
  float: right; /*Dit zorgt ervoor dat mijn plaatje rechts naast mijn tekst staat*/
  margin-left: 15px; /*Dit zorgt voor 15 pixels ruimte aan de linkerkant*/
  height: 260px; /*Dit is de hoogte van mijn plaatje*/
  width: 250px; /*Dit is de breedte van mijn plaatje*/
}

.bitmap-vector img{
  float: right; /*Dit zorgt ervoor dat mijn plaatje rechts naast mijn tekst staat*/
  margin-left: 15px; /*Dit zorgt voor 15pixels ruimte aan de linkerkant*/
  height: 200px; /*Dit is de hoogte van mijn plaatje*/
  width: 350px; /*Dit is de breedte van mijn plaatje*/
}

.lijst-binair img{
  float: right; /*Dit zorgt ervoor dat mijn plaatje rechts naast mijn tekst staat*/
  margin-left: 15px; /*Dit zorgt voor 15  pixels ruimte aan de linkerkant*/
  height: 370px; /*Dit is de hoogte van mijn plaatje*/
  width: 300px; /*Dit is de breedte van mijn plaatje*/
}

.ASCII-tabel img{
  float: right; /*Dit zorgt ervoor dat mijn plaatje rechts naast mijn tekst staat*/
  margin-left: 15px; /*Dit zorgt voor 15 pixels ruimte aan de linkerkant*/
  height: 300px; /*Dit is de hoogte van mijn plaatje*/
  width: 300px; /*Dit is de breedte van mijn plaatje*/
}

.content p {
  border-radius: 10px; /*Dit maakt mijn border rond*/
  background-color: rgba(255, 204, 242, 0.683); /*Dit is de achtergrondkleur van mijn border*/
  width: 920px; /*Dit is de breedte van mijn border om de tekst*/
  box-shadow: 5px 5px 15px rgba(172, 172, 172, 0.2); /*Dit is de schaduw die om de border zit*/
  padding: 10px; /*Dit is de ruimte tussen de border en de tekst*/
}

.content h3 {
  border-radius: 10px; /*Dit maakt de randen van mijn border rond*/
  background-color: rgba(252, 255, 198, 0.713); /*Dit is de achtergrond kleur van mijn border*/
  box-shadow: 5px 5px 15px rgba(172, 172, 172, 0.2); /*Dit zorgt voor een beetje schaduw effect bij de border*/
  padding: 10px; /*Dit zorgt voor wat ruimte tussen de border en de tekst*/
  display: inline-block; /*Dit zorgt ervoor dat de breedte van mijn border niet groter wordt dan de tekst, dus geen ruimte overlaat*/
  width: auto;
  color: rgb(255, 178, 236); /*De kleur van mijn tekst*/
}

/*Hieronder aangepaste opmaak voor de pagina binair stelsel*/

.binairstelsel-pagina .navbar {
  background-color:rgba(0, 133, 133, 0.931);
}

.binairstelsel-pagina .navbar a, .binairstelsel-pagina .dropbtn {
  color: black;
}

.binairstelsel-pagina .navbar a:hover, .binairstelsel-pagina .dropdown:hover .dropbtn {
  background-color: rgba(0, 167, 167, 0.931); /*Dit is de kleur van het menu wanneer je er met je muis op gaat*/
}

.binairstelsel-pagina .dropdown-content {
  background-color: rgba(0, 133, 133, 0.931); /*Dit is de kleur van de pagina's onder dropdown*/
}

.binairstelsel-pagina .dropdown-content a {
  color: black;
}

.binairstelsel-pagina .dropdown-content a:hover {
  background-color: rgba(0, 167, 167, 0.931);
}

.binairstelsel-pagina .content p{
  background-color: black;
  color: rgb(0, 167, 167);
}

.binairstelsel-pagina .content h3{
  background-color: rgba(0, 133, 133, 0.931);
  color: black;
}

.binairstelsel-pagina h1 {
  color: rgb(0, 133, 133); /*Dit is de kleur die de koptekst krijgt.*/
  background-color: black;
  text-align: center;
  border-radius: 10px;
}

.binairstelsel-pagina .mijnfooter {
  background-color: rgba(0, 133, 133, 0.931);
  color: black;
}

/*Hieronder aangepaste opmaak voor de pagina binair stelsel*/

.RGB-pagina .navbar {
  background-color:rgb(64,224,208); /*Dit is de kleur van mijn menu (niet het dropdown gedeelte)*/
}

.RGB-pagina .navbar a, .RGB-pagina .dropbtn {
  color: black; /*Dit is de kleur van de menu tekst*/
}

.RGB-pagina .navbar a:hover, .RGB-pagina .dropdown:hover .dropbtn {
  background-color: rgb(65, 195, 182); /*Dit is de kleur van het menu wanneer je er met je muis op gaat*/
}

.RGB-pagina .dropdown-content {
  background-color: rgb(64,224,208); /*Dit is de kleur van de pagina's onder dropdown*/
}

.RGB-pagina .dropdown-content a {
  color: black; /*Dit is de kleur van mijn tekst in het dropdown gedeelte*/
}

.RGB-pagina .dropdown-content a:hover {
  background-color: rgb(65, 195, 182); /*Dit is de kleur van het dropdown gedeelte wanneer je er met je muis op gaat*/
}

.RGB-pagina .content p{
  background-color: rgba(0, 0, 0, 0.942); /*Dit is de achtergrondkleur van mijn border*/
  color: rgb(208, 208, 208); /*Dit is de kleur van mijn tekst*/
}

.RGB-pagina .content h3{
  background-color: rgba(0, 0, 0, 0.821); /*Dit is de achtergrondkleur van mijn border*/
  color: rgb(64,224,208) /*Dit is de kleur van mijn tekst*/
}

.RGB-pagina h1 {
  color: rgb(64,224,208); /*Dit is de kleur die de koptekst krijgt.*/
  background-color: black;
  text-align: center;
}

.RGB-pagina .mijnfooter {
  background-color: rgb(64,224,208);
  color: rgb(0, 0, 0);
}

.RGB-pagina .computerlink:link, .RGB-pagina .computerlink:visited {
  background-color: rgb(64,224,208);
  color: rgb(0, 0, 0);
}
  
.RGB-pagina .computerlink:hover, .RGB-pagina .computerlink:active {
  color:rgb(0, 0, 0); /*De kleur van de tekst*/
  background-color: rgb(65, 195, 182); /*Dit is de kleur van mijn linkje wanneer je er met je muis op gaat*/
}

.rood {
  color: red;
}

.blauw {
  color: blue;
}

.oranje {
  color: orange;
}

.magenta {
  color: magenta;
}

.grijs {
  color: grey;
}